@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Nanum+Gothic&display=swap');
    footer{
    	position: absolute;
    	bottom: 0;
    }
    
    *{
        font-family: 'Nanum Gothic', sans-serif;
    }
    .col-md1 {
        float: left;
        width: 20%;
    }
    .col-md2 {
        float: left;
        width: 28%;
    }
    .col-md3 {
        float: left;
        width: 21%;
    }
    .col-md4 {
        float: left;
        width: 21%;
    }

    .footer_aray {
        border-bottom: lightgray 1px solid;
    }
    .footer-top {
        color: rgb(231, 133, 110);
        text-align: center;
    }
    a {
        text-decoration: none;
        color: black;
    }
    #footer-mid-size1 {
        width: 268px;
        text-align: right;
    }
    #footer-mid-size2 {
        width: 251px;
        text-align: right;
    }

    #footer-mid-size4 {
        width: 312px;
        text-align: right;
    }
    .footer-menu {
        list-style: none;
    }
    #footer-menu-size1 {
        width: 300px;
        margin-left: 55px;
    }
    #footer-menu-size2 {
        margin-left: 115px;
    }
    #footer-menu-size3 {
        width: 300px;
        padding-top: 15px;
        margin-left: 63px;
    }
    #footer-menu-size4 {
        width: 300px;
        margin-left: 87px;
    }
    .footer_bottom {
        width: 100%;
        position:absolute;
        top: 220px;
        padding-left: 80px;
        border-top: lightgray 1px solid;
    }